<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mi titulo</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>This Is Heroku Awesome!</h1>
		<p>This is the sample of a tutorial on <a href="http://scotch.io">scotch.io</a></p>
		<a href="http://scotch.io/tutorials/" class="btn btn-primary btn-lg">View the Tutorial</a>
	</div>
</div>
<br/>
<hr/><br/>
<hr/><br/>
<hr/>
	<h1>Esto está en h1</h1>
	<h2>y esto está en h2</h2>
	The content of the document......
	
</body>
</html>

